

<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" name="user_apr" type="text">

  <label for="Principal">Principal</label>
  <input id="Principal" name="user_principal" type="text">

  <label for="Number_of_years">Number of years</label>
  <input id="Number_of_years" name="user_years" type="text">

  <button>Calculate monthly payment</button>
</form>
