

<h1>Random Results</h1>

<dl>
  <dt>Min Number</dt>
  <dd> <%= @first_num %> </dd>
  <dt>Max Number</dt>
  <dd> <%= @second_num %> </dd>

  <dt>Random number</dt>
  <dd> <%= @result %> </dd> 

</dl>

<a href="/random/new">Calculate another random number</a>
