

<form action="/random/results">
  <label for="Minimum">Minimum</label>
  <input id="Minimum" type="text" name="user_min">

  <label for="Maximum">Maximum</label>
  <input id="Maximum" type="text" name="user_max">

  <button>Pick random number</button>
</form>
